.me {
    text-transform: uppercase;
}
.mezzanine {
    text-transform: uppercase;
}
.singing {
    text-transform: uppercase;
}
.sleep {
    text-transform: uppercase;
}
.callme {
    text-transform: uppercase;
}
.h1 {
    text-transform: uppercase;
}
.author {
    text-transform: uppercase;
}